---
Checks:          '*,
-clang-analyzer-deadcode.DeadStores,
-clang-analyzer-alpha.*,
-abseil-string-find-startswith,
-readability-static-accessed-through-instance,
-readability-braces-around-statements,
-readability-implicit-bool-cast,
-readability-else-after-return,
-readability-function-size,
-llvm-include-order,
-llvm-header-guard,
-llvmlibc-*,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-no-malloc,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-owning-memory,
-fuchsia-*,
-readability-named-parameter,
-readability-magic-numbers,
-google-runtime-references,
-google-build-using-namespace
-hicpp-noexcept-move,
-hicpp-no-malloc,
-hicpp-braces-around-statements,
-hicpp-exception-baseclass,
-hicpp-special-member-functions,
-performance-noexcept-move-constructor,
'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: 'file'
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value:           '1'
...
